terratowns_endpoint="https://terratowns.cloud/api"
chess = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/chess"
  content_version = 2 
}
music = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/music"
  content_version = 1 
}